
.dcha { bottom: 0; left: 0; }
.dcha { position: fixed; background: silver; color: #00cc00a2;
     height: 5em;  width:100%;  }
.dcha { position: fixed; background: #00cc00a2; color: black;
     height: 5em;  width:100%;  }


}

